
#toast-container{
    display:block;
    position:fixed;
    z-index:10000
}
@media only screen and (max-width: 600px){
    #toast-container{
        min-width:100%;
        bottom:0%
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
    #toast-container{
        left:5%;
        bottom:7%;
        max-width:90%
    }
}
@media only screen and (min-width: 993px){
    #toast-container{
        top:10%;
        right:7%;
        max-width:86%
    }
}
.toast{
    border-radius:2px;
    top:0;
    width:auto;
    clear:both;
    margin-top:10px;
    position:relative;
    max-width:100%;
    height:auto;
    min-height:48px;
    line-height:1.5em;
    word-break:break-all;
    background-color:#323232;
    padding:10px 25px;
    font-size:1.1rem;
    font-weight:300;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between
}
.toast .btn,.toast .btn-large,.toast .btn-flat{
    margin:0;
    margin-left:3rem
}
.toast.rounded{
    border-radius:24px
}
@media only screen and (max-width: 600px){
    .toast{
        width:100%;
        border-radius:0
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
    .toast{
        float:left
    }
}
@media only screen and (min-width: 993px){
    .toast{
        float:right
    }
}